---
import { Image } from 'astro:assets'
import { formatDate } from '../utils/functions'
import type { post } from '../utils/type'
type Props = post

const { title, image, description, url, badge, target, author, date } = Astro.props
---

<div class='py-4 md:py-2 border-b' '>
  <a class='' href={`/posts/${url}`} target={target}>
    <div
      class='transition h-full p-2 w-full flex md:flex-row flex-col gap-x-4 rounded-md items-center md:h-44 ease-in-out hover:shadow-xl my-2 hover:scale-[102%]'
    >
      <Image
        width={750}
        height={422}
        format='webp'
        class='h-full w-full md:w-72 object-cover rounded-md'
        src={image.src}
        alt={title}
      />
      <div class='h-full w-full flex flex-col justify-center gap-y-4'>
        <h2 class='font-bold text-xl md:text-2xl'>
          {title}
          {badge && <div class='badge badge-secondary'>{badge}</div>}
        </h2>
        <p>{description}</p>
        <div class='flex items-center text-xs gap-2'>
          <p>{author}</p>-
          <p>{formatDate(date)}</p>
        </div>
      </div>
    </div>
  </a>
</div>
