---
interface Props {
  title: string
  body: string | null
  href: string
  deploy: string | undefined
}

const { href, title, body, deploy } = Astro.props

import { Image } from 'astro:assets'
import github from '../icons/github.svg'
import web from '../icons/web.svg'
---

<div class='p-4 gap-y-2 flex w-fit flex-col justify-between border-2 rounded-md md:max-w-80'>
  <div class='space-y-2'>
    <h2 class='text-xl font-semibold'>
      {title}
      <span>&rarr;</span>
    </h2>
    <p class='min-h-[80px] line-clamp-3 md:line-clamp-none'>
      {body}
    </p>
  </div>
  <div class='w-full h-fit flex justify-end gap-x-1'>
    <a
      href={href}
      target='_blank'
      class='hover:bg-black w-10 h-10 hover:rounded-full p-1 hover:h-fit transition-all'
    >
      <Image src={github} alt='' class='w-full h-full object-cover' /></a
    >
    <a
      href={deploy}
      target='_blank'
      class='hover:bg-black w-10 h-10 hover:rounded-full p-1 hover:h-fit transition-all'
      ><Image src={web} alt='' class='w-full h-full object-cover' /></a
    >
  </div>
</div>
